*.a
*.mex*
*.o
.deps
/a.out.dSYM
/build
/doc/latex-pre.inc
/doc/malheur.man
/doc/malheur.pdf
/doc/malheur.pod
/doc/malheur.txt
/doc/test.cfg
/malheur-*.tar.gz
/src/malheur
/stamp-h1
/tests/test_*
CHANGES
Makefile
src/malheur.h
tests/*.log
